.HomePage {
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .BotonNutrition {
    height: 120px;
    width: 120px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
  }

  .BotonNutrition:hover{
    background-color: aqua;
  }

  .imageNutrition {
    height: 70px;
  }

  .BotonRoutines {
    height: 120px;
    width: 120px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
  }

  .BotonRoutines:hover{
    background-color: aqua;
  }

  .imageRoutines {
    height: 70px;
  }
  
  .spaceBetween {
    height: 1px;
  }

  .BotonLocation {
    height: 120px;
    width: 120px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
  }

  .BotonLocation:hover{
    background-color: aqua;
  }

  .ForumButton {
    height: 120px;
    width: 120px;
    padding: 1px;
    margin: 3px;
    border-radius: 7px;
    cursor: pointer;
  }

  .ForumButton:hover{
    background-color: aqua;
  }

  .imageForum {
    height: 70px;
  }

  .imageLocation{
    height: 70px;
  }

