.LoginPage {
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 50px;
    padding-top: 5px;
  }

  .BotonIniciarHome {
    margin: 30px 0px 0px 0px;
    height: 40px;
    width: 150px;
    background-color: orange;
    color: black;
    border-radius: 7px;
    padding-top: 0%;
    cursor: pointer;
  }

  .BotonIniciarHome:hover{
    background-color: red;
  }

  .return{
    position: absolute;
    top: 15%;
    right: 110%;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: orange;
    padding: 1px;
    cursor: pointer;
  }

  .return:hover{
    background-color: red;
  }