.lunch-options-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  #lunch-options-select {
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }
  
  .option-details {
    margin-top: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }
  
  .orange {
    color: orange;
  }
  
  .option-details p {
    margin-top: 0;
  }
  
  @media screen and (min-width: 400px) {
    .lunch-options-container {
      width: 50%;
    }
  }
  