.ProfilePage{
    text-align: center;
    background-color: black;
    color: white;
    
  }

  .avatarButtom{
    height: 120px;
    justify-content: left;
    align-items: left;
  }
  
  .AvatarImage {
    height: 120px;
    justify-content: left;
    align-items: left;
  }