.HomePage {
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
}

.ForumPage {
  text-align: center;
  background-color: black;
  color: white;
}

.NutritionPage {
  text-align: center;
  background-color: black;
  color: white;
}

.HomeToForumLink {
  height: 50px;
  width: 50px;
}

.ForumToHomeLink {
  color: white;
  display: flex;
}

.BotonNutrition {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.BotonRoutines {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.BotonLocation {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.Botonsettings {
  width: 30px;
  height: 30px;
  padding: 0.1px;
}

.imageNutrition {
  height: 30px;
}

.imageRoutines {
  height: 29px;
}

.imageSettings {
  height: 25px;
}

.imageLocation{
  height: 30px;
}

.NavBar {
  color: black;
  display: flex;
  justify-content: center;
  background-color: gray;
  text-decoration: none;
  border-radius: 5px;
}

.HomeButton {
  height: 30px;
  width: 30px;
  padding: 1px;
}

.ForumButton {
  height: 50px;
  width: 50px;
  padding: 1px;
  margin: 3px;
}

.imageHome {
  height: 25px;
}

.imageForum {
  height: 19px;
}

.Title {
  color: orange;
  text-align: center;
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding-bottom: 15px;
}





