.HomePage {
  text-align: center;
  background-color: black;
  color: white;
  position: relative;
  padding-bottom: 35px;
}

.ForumPage {
  text-align: center;
  background-color: black;
  color: white;
}

.NutritionPage {
  text-align: center;
  background-color: black;
  color: white;
}

.RoutinesPage{
  text-align: center;
  background-color: black;
  color: white;
}

.ProfilePage{
  text-align: center;
  background-color: black;
  color: white;
}

.LocationPage{
  text-align: center;
  background-color: black;
  color: white;
}

.SystemSettingsPage{
  text-align: center;
  background-color: black;
  color: white;
}


.BotonNutrition {
  height: 80px;
  width: 80px;
  margin: 3px;
  border-radius: 7px;
}

.BotonRoutines {
  height: 80px;
  width: 80px;
  margin: 3px;
  border-radius: 7px;
}

.BotonLocation {
  height: 80px;
  width: 80px;
  margin: 3px;
  border-radius: 7px;
}

.Botonsettings {
  width: 50px;
  height: 50px;
  padding: 0.1px;
  background-color: orange;
  border-radius: 7px;
}

.imageNutrition {
  height: 40px;
}

.imageRoutines {
  height: 40px;
}

.imageSettings {
  height: 25px;
}

.imageLocation{
  height: 40px;
}

.NavBar {
  color: black;
  display: flex;
  justify-content: center;
  background-color: gray;
  text-decoration: none;
  border-radius: 5px;
}

.HomeButton {
  height: 50px;
  width: 50px;
  padding: 1px;
  background-color: orange;
  border-radius: 7px;
}

.ForumButton {
  height: 80px;
  width: 80px;
  padding: 1px;
  margin: 3px;
  border-radius: 7px;
}

.BotonProfile {
  height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 7px;
}

.imageProfile {
  height: 20px;
  padding: auto;
}

.imageHome {
  height: 25px;
}

.imageForum {
  height: 40px;
}

.Title {
  color: orange;
  text-align: center;
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding-bottom: 15px;
  font-size: 70px;
}

.spaceBetween {
  height: 1px;
}





